services:

  postgres:
    container_name: postgres_container
    image: postgres
    restart: always
    env_file:
      - .env
    environment:
      PGDATA: ./pgdata:/var/lib/postgresql/data/pgdata
    command: ["postgres", "-c", "logging_collector=on", "-c", "log_destination=stderr", "-c", "log_directory=/logs", "-c", "log_filename=postgresql.log", "-c", "log_statement=all" ]
    ports:
      - 5432:5432
    volumes:
      - .db/:/var/lib/postgresql/data
      - .db/:/logs/

  app:
    container_name: todo_list
    build: .
    ports:
      - 8080:8080
    depends_on:
      - postgres
    restart: always


volumes:
  pgdata:
    driver: local
  db:
